* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }


    .main-container {
      height: 655px;
      width: 540px;
      border: 2px solid lightgrey;
      margin: 20px auto;
      border-radius: .5em;
}

    .title {
      font-size: 25px;
      width: 537px;
      height: 67px;
      border-bottom: 1px lightgrey solid;
      border-top-left-radius: .25em;
      border-top-right-radius: .25em;
      text-align: left;
      padding-top: 10px;
      padding-bottom: 10px;
      color: white;
      background:rgb(47, 134, 207);
      margin-bottom: 0px;
    }

    h4{
      margin-left: 26px;
      margin-top: 10px;
      margin-bottom: 10px;
      font-weight: lighter;
    }
    .forms-container {
      height: 510px;
      width: 540px;
    }

    i {
      color: grey;
      position: absolute;
      left: 25px;
      top:11px;
    }

    .form-field {
      width: 93%;
      height: 40px;
      border: 1px solid lightgrey;
      margin: 0px 15px;
      border-radius: .25em;
      padding-left: 30px;
    }
    .tall {
      height: 80px;
      padding-top: 12px;

    }

    .submit-footer {
      height: 75px;
      width:537px;
      border-top: 1px lightgrey solid;
      background: rgb(197, 222, 242)
    }

    .submit-form {
      color: blue;
      border:1px lightgrey solid;
      float: left;
      clear:both;
      background:rgb(47, 134, 207);
      color: white;
      font-size: 14px;
      padding: 8px 8px 8px 8px;
      border-radius: .25em;
      margin-left: 15px;
      margin-top: 20px;

    }

    .forms-container div {
      position: relative;
      margin: 17px;

    }


  // input.text {


  //display: inline;
  //float: left;
    //padding-left: 20px;
  // }
